{% autoescape off %}
Hello {{ user.username }},

You're receiving this email because you requested a password reset for your account at Task Manager.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'tasks:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}

Thanks for using Task Manager!

This link is valid for 24 hours. If you didn't request this password reset, please ignore this email.

The Task Manager Team
{% endautoescape %}

